---
import ReactMarkdown from 'react-markdown';
import remarkGfm from "remark-gfm";
import PostContent from "./PostContent";

const { post } = Astro.props;
---

<div class="text-md bg-zinc-50 max-w-4xl mb-6 p-6 font-serif rounded-3xl">
  <ReactMarkdown 
        className="prose lg:prose-xl" 
        remarkPlugins={[remarkGfm]}
    >
        {post.content}
    </ReactMarkdown>
  <PostContent post={post} />
</div>
