---
const { title } = Astro.props.frontmatter || Astro.props;
const showDescription = Astro.props.showDescription || false;
---

<html lang="en" class="h-full">
  <head>
	<meta charset="utf-8" />
		<meta name="description" content="My mind." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Vivek's Internet ✦</title>
  </head>
  <body class="flex flex-col min-h-full">
    <div class="flex-grow bg-brand">
      <div class="container mx-auto max-w-xl px-4 py-8"> 
        <h1 class="text-4xl text-center text-white font-serif mb-1.5">
          <a href="/">{title}</a>
        </h1>

        {showDescription && (
          <p class="text-white text-center font-serif text-md mb-5"> 
            Hello, welcome to my blog space! See <a href="https://vivekirl.studio/" target="_blank" class="text-blue-50 underline">vivekirl.studio</a> for my other internet places.
          <br> \ (•◡•) /
          </p>	
        )}

        <slot /> 
      </div>
    </div>
  </body>
</html>

<!-- ---
const { title } = Astro.props.frontmatter || Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="My mind." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Vivek's Internet ✦</title>
	</head>

	<body class="flex flex-col min-h-screen">
		<div class="flex-grow bg-brand">
			<div class="container mx-auto max-w-xl px-4 py-8">
				<h1 class="text-4xl text-center text-white font-serif mb-4"><a href="/">{title}</a></h1>
				<slot />
			</div>
		</div>

		<footer class="text-center bg-accent-colour text-black font-serif p-1">
			Have thoughts? <a href="mailto:v1033@outlook.com">Email</a> | <a href="https://x.com/thekernelkiller" target="_blank">Twitter</a> | <a href="https://vivekirl.studio/" target="_blank">Studio</a>
		</footer>
	</body>
</html> -->


<!-- ---
const { title } = Astro.props.frontmatter || Astro.props;
// import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="My mind." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Vivek's Internet ✦</title>

	</head>

	<body>
		<div class="container max-w-full min-h-screen bg-brand">
			<div class="mx-auto max-w-xl px-4 py-8">
				<h1 class="text-4xl text-center text-white font-serif mb-4"><a href="/">{title}</a></h1>
				<slot />
			</div>
		</div>

		<footer class="text-center bg-blue-50 text-black font-serif p-3">
			Have thoughts? <a href="mailto:v288399.work@gmail.com">Email</a> | <a href="https://x.com/thekernelkiller" target="_blank">Twitter</a>
		</footer>
	</body>
</html> -->



<!-- 
---
const title = Astro.props.title;
---

<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
    <link href="/dist/output.css" rel="stylesheet">
  </head>
  <body class="font-serif">
    <slot />
  </body>
</html>
 -->
